.btn {
  padding: 12px 16px;
  border-radius: 6px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  appearance: none;
  border-width: 1px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-style: solid;
  box-shadow: 0px 6px 10px 0px rgba(79, 97, 123, 0.15);
  
  &.btn-primary {
    background-color: #FF6600;
    border-color: #FF6600;

    &:hover {
      background-color: #FF9751;
      border-color: #FF9751;
    }
    
    &:active {
      background-color: #242424;
      border-color: #242424;
    }

    &:disabled {
      background-color: #D9D9D9;
      border-color: #D9D9D9;
    }
  }
}